# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [3]:
import pandas as pd

In [4]:
# I will use option 1: combine the 3 datasets and then clean as in the latest lab
url_1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df1 = pd.read_csv(url_1)
url_2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
df2 = pd.read_csv(url_2)
url_3 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df3 = pd.read_csv(url_3)

In [5]:
df1.shape

(4008, 11)

In [6]:
df1.head(3)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247

In [7]:
df2.shape

(996, 11)

In [8]:
df2.head(3)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car

In [9]:
df3.shape

(7070, 11)

In [10]:
df3.head(3)

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car

In [11]:
#Before concatenating, one needs to standardize the columns' names
df1.columns = [col.lower().replace(" ","_") for col in df1.columns]
df1.rename(columns = {'st':"state"}, inplace = True)
df2.columns = [col.lower().replace(" ","_") for col in df2.columns]
df2.rename(columns = {'st':"state"}, inplace = True)
df3.columns = [col.lower().replace(" ","_") for col in df3.columns]

In [12]:
#Before concatenating I will fix two columns which got me some problems in the latest lab: "number_of_open_complaints" and "customer_lifetime_value"

In [13]:
df1["number_of_open_complaints"].unique()

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

In [14]:
number_complaints_mapping = {'1/0/00':0, '1/2/00':2, '1/1/00':1, "1/3/00":3, "1/5/00":5, "1/4/00":4} #we are each value with its middle number
df1['number_of_open_complaints'] = df1['number_of_open_complaints'].map(number_complaints_mapping) #given that we want to replace more than one value it is more efficent to use map
df1.number_of_open_complaints.unique()

array([ 0.,  2.,  1.,  3.,  5.,  4., nan])

In [15]:
df2["number_of_open_complaints"].unique()

array(['1/0/00', '1/1/00', '1/3/00', '1/5/00', '1/2/00', '1/4/00'],
      dtype=object)

In [16]:
number_complaints_mapping = {'1/0/00': 0, '1/2/00':2, '1/1/00':1, "1/3/00":3, "1/5/00":5, "1/4/00":4} #we are each value with its middle number
df2['number_of_open_complaints'] = df2['number_of_open_complaints'].map(number_complaints_mapping) #given that we want to replace more than one value it is more efficent to use map
df2.number_of_open_complaints.unique()

array([0, 1, 3, 5, 2, 4], dtype=int64)

In [17]:
df3["number_of_open_complaints"].unique() #df3 is okay, no cleaning needed

array([0, 2, 3, 1, 5, 4], dtype=int64)

In [18]:
df1["customer_lifetime_value"] = df1["customer_lifetime_value"].str.replace("%", "")
df2["customer_lifetime_value"] = df2["customer_lifetime_value"].str.replace("%", "")
#df3 is okay, no cleaning needed

In [19]:
df_concat = pd.concat([df1, df2, df3], axis=0)
df_concat.shape

(12074, 11)

In [20]:
df_concat.sample(20)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
3217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
628,ZW18871,Oregon,M,High School or Below,827248.54,91245.0,69.0,0.0,Corporate Auto,Four-Door Car,19.251693
5421,SY29553,Oregon,F,High School or Below,2585.444463,0.0,73.0,2.0,Personal Auto,Four-Door Car,350.400000
466,SJ16410,Arizona,M,Bachelor,7532.262392,41458.0,98.0,0.0,Personal Auto,Four-Door Car,191.100227
5093,ZH18791,Oregon,M,Bachelor,5028.839465,0.0,67.0,0.0,Personal Auto,Four-Door Car,80.753763
1488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
930,YI95434,California,F,College,2907.898828,51020.0,73.0,0.0,Personal Auto,Four-Door Car,350.400000
307,TM23514,Oregon,M,College,1027260.82,60145.0,132.0,0.0,Personal Auto,SUV,580.473259
1785,PS47550,California,F,High School or Below,13178.43163,80237.0,108.0,0.0,Personal Auto,SUV,776.601764
2570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5964,DY73849,California,F,Bachelor,4569.8758,0.0,124.0,0.0,Personal Auto,SUV,250.723005
2523,PL18921,Oregon,F,Master,11981.98481,21514.0,62.0,0.0,Personal Auto,Two-Door Car,257.248789
4740,MG66142,Oregon,F,Bachelor,9517.07801,0.0,87.0,0.0,Personal Auto,Four-Door Car,417.600000
1760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2246,IV98398,California,M,Bachelor,15320.37177,81955.0,126.0,0.0,Corporate Auto,SUV,720.054248
304,ZX93551,Arizona,F,Bachelor,2867.312197,23376.0,78.0,0.0,Personal Auto,Four-Door Car,374.400000
1186,GX84338,Washington,F,Doctor,3824.431298,62530.0,95.0,0.0,Personal Auto,Four-Door Car,61.693771
6391,ZM45168,Oregon,M,College,2398.354197,14321.0,65.0,0.0,Personal Auto,Four-Door Car,423.823547
944,IP68868,Oregon,M,High School or Below,381961.95,0.0,111.0,0.0,Personal Auto,Two-Door Car,799.200000
2233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
#Lets apply the other cleaning methods from the latest lab

In [22]:
gender_mapping = {'Femal': "F", 'female':"F", 'Male': "M"} #we are replacing Femal and female by F and Male by M
df_concat['gender'] = df_concat['gender'].map(gender_mapping)
df_concat.gender.unique()

array([nan, 'F', 'M'], dtype=object)

In [23]:
state_mapping = {'Washington': "WA", 'Arizona':"AZ", 'California': "CA", "Nevada":"NV", "Oregon":"OR"} #we are replacing very state name by its shortname
df_concat['state'] = df_concat['state'].map(state_mapping) #given that we want to replace more than one value it is more efficent to use map
df_concat.state.unique()

array(['WA', 'AZ', 'NV', 'CA', 'OR', nan], dtype=object)

In [24]:
df_concat['education'] = df_concat['education'].str.replace('Bachelors','Bachelor')
df_concat.education.unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor',
       nan], dtype=object)

In [25]:
df_concat["vehicle_class"] = df_concat["vehicle_class"].str.replace("Luxury Car", "Luxury")
df_concat["vehicle_class"] = df_concat["vehicle_class"].str.replace("Luxury SUV", "Luxury")
df_concat["vehicle_class"] = df_concat["vehicle_class"].str.replace("Sports Car", "Luxury")
df_concat.vehicle_class.unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury', nan],
      dtype=object)

In [26]:
df_concat["customer_lifetime_value"] = df_concat["customer_lifetime_value"].astype(float)

In [27]:
df_concat.dtypes

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints    float64
policy_type                   object
vehicle_class                 object
total_claim_amount           float64
dtype: object

In [28]:
df_concat.isna().sum()

customer                      2937
state                         3161
gender                       11987
education                     2937
customer_lifetime_value       2944
income                        2937
monthly_premium_auto          2937
number_of_open_complaints     2937
policy_type                   2937
vehicle_class                 2937
total_claim_amount            2937
dtype: int64

In [29]:
df_concat = df_concat.dropna(how='all')

In [30]:
df_concat.isna().sum()

customer                        0
state                         224
gender                       9050
education                       0
customer_lifetime_value         7
income                          0
monthly_premium_auto            0
number_of_open_complaints       0
policy_type                     0
vehicle_class                   0
total_claim_amount              0
dtype: int64

In [31]:
df_concat = df_concat.drop(columns = ["gender"])

In [32]:
mean_customer_lifetime_value = df_concat["customer_lifetime_value"].mean()
df_concat["customer_lifetime_value"] = df_concat["customer_lifetime_value"].fillna(round(mean_customer_lifetime_value, 2))
df_concat.isna().sum()

customer                       0
state                        224
education                      0
customer_lifetime_value        0
income                         0
monthly_premium_auto           0
number_of_open_complaints      0
policy_type                    0
vehicle_class                  0
total_claim_amount             0
dtype: int64

In [33]:
df2.duplicated().sum()

0

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [36]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
df = pd.read_csv(url)
df.shape

(10910, 27)

In [37]:
df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [87]:
#I will present 2 options because I am not sure if total revenue means the sum of customer_lifetime_value or the sum of monthly premiums paid by each customer
#Option 1

df.customer_lifetime_value = df.customer_lifetime_value.round(2)

pivot_df_channel_1 = df.pivot_table(values="customer_lifetime_value", index='sales_channel', aggfunc='sum')
pivot_df_channel_1
#dont know how to round them

               customer_lifetime_value
sales_channel
Agent                      33057887.66
Branch                     24359201.28
Call Center                17364288.35
Web                        12697633.04

In [40]:
#Option 2

df.monthly_premium_auto = df.monthly_premium_auto.round(2)

pivot_df_channel_2 = df.pivot_table(index='sales_channel', values="monthly_premium_auto", aggfunc='sum')
pivot_df_channel_2

               monthly_premium_auto
sales_channel
Agent                        386335
Branch                       280953
Call Center                  197970
Web                          151511

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [42]:
pivot_df_customer_value = df.pivot_table(index='education', columns='gender', values = "customer_lifetime_value")
pivot_df_customer_value

gender                          F            M
education
Bachelor              7874.269553  7703.601609
College               7748.823532  8052.459430
Doctor                7328.508650  7415.333532
High School or Below  8675.220025  8149.687629
Master                8157.053158  8168.832670

In [43]:
#One can notice that, on average, male lifetime_value is greater than female lifetime value in higher educational degrees.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [46]:
# Your code goes here